@model OrderStatusModel

<form asp-antiforgery="true" class="modal modal-fullscreen">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content" data-valid="@(ViewData.ModelState.IsValid.ToString().ToLowerInvariant())">
            <div class="modal-header">
                <div class="modal-title">
                    <h5 class="h5 mb-0">Mark as @(Model.Status.GetEnumText())</h5>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div asp-validation-summary="All" class="alert callout-danger mb-4" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-group" visible="@(Model.Status == OrderStatus.Delivering)">
                    <label asp-for="DeliveryInfo" class="form-label"></label>
                    <textarea asp-for="DeliveryInfo" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="DeliveryInfo" class="d-block"></span>
                </div>
                <div class="form-group" visible="@(Model.Status == OrderStatus.Processing)">
                    <label asp-for="ProcessingInfo" class="form-label"></label>
                    <textarea asp-for="ProcessingInfo" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="ProcessingInfo" class="d-block"></span>
                </div>
                <div class="form-group mb-0" visible="@(Model.Status == OrderStatus.Complete)">
                    Before you complete the order, Make sure payment has been received successfully. And also, Digital products will be made available to the customer after the order is complete.
                </div>
                <div class="form-group" visible="@(Model.Status == OrderStatus.Cancelled)">
                    <label asp-for="CancelReason" class="form-label"></label>
                    <textarea asp-for="CancelReason" class="form-control" rows="4" placeholder="State the reason why the order should be @Model.Status.GetEnumText().ToLowerInvariant()."></textarea>
                    <span asp-validation-for="CancelReason"></span>
                    <div class="pt-3 text-small"><span class="badge badge-warning">Warning</span> <span class="text-muted">No further action can take place after the order is cancelled.</span></div>
                </div>
                <div class="form-group" visible="@(Model.Status == OrderStatus.Cancelled)">
                    <label class="d-flex media align-items-middle mb-0 py-2">
                        <span class="switcher switcher-square d-block m-0">
                            <input class="switcher-input" type="checkbox" asp-for="Refunded" />
                            <span class="switcher-indicator"> <span class="switcher-yes"></span> <span class="switcher-no"></span></span>
                        </span>
                        <span class="media-body pl-3"><span>@(Model.GetDisplayByMember(x => x.Refunded).Description)</span></span>
                    </label>
                    <span asp-validation-for="Refunded"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-submit="modal"><span>Mark as @(Model.Status.GetEnumText())</span></button>
            </div>
            <input asp-for="Id" type="hidden" />
            <input asp-for="Status" type="hidden" />
        </div>
    </div>
</form>