@{
    Html.AddTitle("Create Your Store And Start Selling");
}

<section id="home" class="navbar-section vh-100">
    <div class="text-white py-5 h-100 ui-bg-cover ui-bg-overlay-container" data-toggle="lozad" data-background-image="@(Url.Content("~/img/company/1.png"))">
        <div class="ui-bg-overlay bg-dark opacity-75"></div>
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-md-9 col-lg-9 text-center mr-auto ml-auto">
                    <h1 data-toggle="ah-headline" class="display-2 font-weight-semibold text-uppercase mb-0 animated bounceIn delay-1s">
                        <span class="ah-headline">
                            <span class="ah-words-wrapper text-center w-100">
                                <b class="is-visible">Welcome to <span class="text-primary">Neimart</span></b>
                                <b class="is-hidden">Reach New <span class="text-primary">Customers</span></b>
                                <b class="is-hidden">Attract More <span class="text-primary">Income</span></b>
                                <b class="is-hidden">Stay <span class="text-primary">Safe</span> & <span class="text-primary">Secure</span></b>
                                <b class="is-hidden">Track your <span class="text-primary">Analytics</span></b>
                                <b class="is-hidden">Make Less Time <span class="text-primary">Intensive</span></b>
                                <b class="is-hidden">Beat your <span class="text-primary">Competition</span></b>
                                <b class="is-hidden">Save Some <span class="text-primary">Coins</span></b>
                                <b class="is-hidden">Look More <span class="text-primary">Professional</span></b>
                            </span>
                        </span>
                    </h1>
                    <div class="text-center">
                        <p class="text-muted text-medium">Starting your business online and becoming your own boss has always been a dream for most of us.</p>
                        <a class="btn btn-primary btn-lg rounded-pill px-5" asp-action="Pricing" asp-controller="Company" asp-area="">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="insights">
    <div class="py-5 theme-bg-white">
        <div class="container">
            <div class="row justify-content-center align-items-center text-center py-4">
                <div class="col-sm-9 col-md-8 col-lg-7">
                    <div class="mb-2 text-primary h5">INSIGHTS</div>
                    <h2 class="h1 mb-0">Follow these instructions</h2>
                    <hr class="mt-2 mb-3 bg-primary" style="width: 90px; padding-bottom: 1px;">
                    <p class="mb-0 text-medium">Wondering how Neimart works. Here's some useful tips.</p>
                </div>
            </div>
            <div class="row align-items-center pt-4">
                <div class="col-lg-6 pb-4">
                    <div class="media flex-column align-items-center text-center">
                        <div class="d-flex align-items-center justify-content-center rounded-pill w-80px h-80px bg-primary text-white line-height-1"><span class="mb-0 font-weight-semibold display-2">1</span></div>
                        <div class="media-body mt-3">
                            <h2 class="text-primary">Enter Your Store Name</h2>
                            <p class="text-medium mb-0">A perfect choice of name for your new store can help in getting the consumers' attention and building your brand. Enter your store name that you think it's good to go.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pb-4">
                    <div style="--aspect-ratio: 512/384"><img class="img-fluid" data-toggle="lozad" data-src="@(Url.Content("~/img/company/5.png"))" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row align-items-center pt-4">
                <div class="col-lg-6 order-lg-1 pb-4">
                    <div class="media flex-column align-items-center text-center">
                        <div class="d-flex align-items-center justify-content-center rounded-pill w-80px h-80px bg-primary text-white line-height-1"><span class="mb-0 font-weight-semibold display-2">2</span></div>
                        <div class="media-body mt-3">
                            <h2 class="text-primary">Organize Your Products Into Categories</h2>
                            <p class="text-medium mb-0">Help your customers so that they can quickly find what they need in your store by simply creating your categories and then assigning products it.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pb-4">
                    <div style="--aspect-ratio: 512/384"><img class="img-fluid" data-toggle="lozad" data-src="@(Url.Content("~/img/company/3.png"))" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 theme-bg-white">
        <div class="container">
            <div class="row align-items-center pt-4">
                <div class="col-lg-6 pb-4">
                    <div class="media flex-column align-items-center text-center">
                        <div class="d-flex align-items-center justify-content-center rounded-pill w-80px h-80px bg-primary text-white line-height-1"><span class="mb-0 font-weight-semibold display-2">3</span></div>
                        <div class="media-body mt-3">
                            <h2 class="text-primary">Share the Generated Store URL With Your Customers</h2>
                            <p class="text-medium mb-0">Sharing links is how marketers get the word out about a product, service or brand. Whether you’re posting to social media etc, links are often the first point of contact with customers online.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pb-4">
                    <div style="--aspect-ratio: 512/384"><img class="img-fluid" data-toggle="lozad" data-src="@(Url.Content("~/img/company/2.png"))" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row align-items-center pt-4">
                <div class="col-lg-6 order-lg-1 pb-4">
                    <div class="media flex-column align-items-center text-center">
                        <div class="d-flex align-items-center justify-content-center rounded-pill w-80px h-80px bg-primary text-white line-height-1"><span class="mb-0 font-weight-semibold display-2">4</span></div>
                        <div class="media-body mt-3">
                            <h2 class="text-primary">Receive Orders From Your Customers and Fulfill Them</h2>
                            <p class="text-medium mb-0">Process and fulfill your orders in a timely manner, so that you can get paid. When your customer places an order, you need to prepare and deliver the items in it.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pb-4">
                    <div style="--aspect-ratio: 512/384"><img class="img-fluid" data-toggle="lozad" data-src="@(Url.Content("~/img/company/4.png"))" /></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="start">
    <div class="bg-primary text-white text-center py-5">
        <div class="container">
            <div class="row py-5">
                <div class="col-md-10 col-lg-9 text-center px-0 mx-auto">
                    <h1 class="font-weight-semibold">Start Your Business Journey With Neimart!</h1>
                    <p class="text-medium">
                        With a local business you can only attract customers who come to your store, But with Neimart online you attract more.
                    </p>
                    <a class="btn btn-outline-white btn-lg rounded-pill px-5" asp-action="Pricing" asp-controller="Company" asp-area="">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="benefits">
    <div class="py-5 theme-bg-white">
        <div class="container">
            <div class="row justify-content-center align-items-center text-center py-4">
                <div class="col-sm-9 col-md-8 col-lg-7">
                    <div class="mb-2 text-primary h5">BENEFITS</div>
                    <h2 class="h1 mb-0">Why start selling on <span class="font-italic text-primary">Neimart</span></h2>
                    <hr class="mt-2 mb-3 bg-primary" style="width: 90px; padding-bottom: 1px;">
                    <p class="mb-0 text-medium">Be committed to your business and build a great business plan with so many benefits along the way.</p>
                </div>
            </div>
            <div class="row align-items-center pt-4">
                <div class="col-md-6 col-lg-3">
                    <div class="media flex-column align-items-center text-center pb-4">
                        <div><i class="fad fa-globe-africa fa-5x text-primary"></i></div>
                        <div class="media-body pt-3">
                            <h3 class="h4">Reach New Customers</h3>
                            <p class="text-medium mb-0">Extend your business and discover your target markets you never knew needed your product.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="media flex-column align-items-center text-center pb-4">
                        <div><i class="fad fa-money-bill-alt fa-5x text-primary"></i></div>
                        <div class="media-body pt-3">
                            <h3 class="h4">Attract More Income</h3>
                            <p class="text-medium mb-0">The best way to improve your money situation is to earn more. Add Neimart as a sales tool.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="media flex-column align-items-center text-center pb-4">
                        <div><i class="fad fa-lock fa-5x text-primary"></i></div>
                        <div class="media-body pt-3">
                            <h3 class="h4">Stay Safe & Secure</h3>
                            <p class="text-medium mb-0">Completing online transactions with Neimart is that simple, safe and secure.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="media flex-column align-items-center text-center pb-4">
                        <div><i class="fad fa-chart-bar fa-5x text-primary"></i></div>
                        <div class="media-body pt-3">
                            <h3 class="h4">Track your Analytics</h3>
                            <p class="text-medium mb-0">We communicate with our clients through emails or live chats to get a solution to their problem.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="media flex-column align-items-center text-center pb-4">
                        <div><i class="fad fa-clock fa-5x text-primary"></i></div>
                        <div class="media-body pt-3">
                            <h3 class="h4">Make Less Time Intensive</h3>
                            <p class="text-medium mb-0">Once your store has been initially set up, you wouldn't need to invest too much time into running it.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="media flex-column align-items-center text-center pb-4">
                        <div><i class="fad fa-trophy fa-5x text-primary"></i></div>
                        <div class="media-body pt-3">
                            <h3 class="h4">Beat your Competition</h3>
                            <p class="text-medium mb-0">Easy-to-use store will instantly make people likely to buy from you instead of your competitors.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="media flex-column align-items-center text-center pb-4">
                        <div><i class="fad fa-coins fa-5x text-primary"></i></div>
                        <div class="media-body pt-3">
                            <h3 class="h4">Save Some Coins</h3>
                            <p class="text-medium mb-0">Making sales helps boost your income, but cutting costs can help increase your profit margins.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="media flex-column align-items-center text-center pb-4">
                        <div><i class="fad fa-suitcase fa-5x text-primary"></i></div>
                        <div class="media-body pt-3">
                            <h3 class="h4">Look More Professional</h3>
                            <p class="text-medium mb-0">Look modern and professional while also helping you reach a much wider market.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="bg-primary-darker text-white text-center py-3">
        <div class="container">
            <div class="row py-5">
                <div class="col-md-10 col-lg-9 text-center px-0 mx-auto">
                    <h1 class="font-weight-semibold">We'd Love to Hear From You!</h1>
                    <p class="text-medium">
                        We aim to provide great customer service. For product inquiries, technical support, and legal questions.
                    </p>
                    <a class="btn btn-outline-white btn-lg px-5" asp-action="Contact" asp-controller="Company" asp-area="">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features">
    <div class="py-5 theme-bg-white">
        <div class="container">
            <div class="row justify-content-center align-items-center text-center py-4">
                <div class="col-sm-9 col-md-8 col-lg-7">
                    <div class="mb-2 text-primary h5">FEATURES</div>
                    <h2 class="h1 mb-0">Everything you can do with <span class="font-italic text-primary">Neimart</span></h2>
                    <hr class="mt-2 mb-3 bg-primary" style="width: 90px; padding-bottom: 1px;">
                    <p class="mb-0 text-medium">Grow your business faster than ever with so many features in stock.</p>
                </div>
            </div>
            <div class="row align-items-center pt-4">
                <div class="col-md-6 col-lg-3">
                    <div class="media flex-column align-items-center text-center pb-4">
                        <div><i class="fad fa-photo-video fa-5x text-primary"></i></div>
                        <div class="media-body pt-3">
                            <h3 class="h4">Sell Digital Products</h3>
                            <p class="text-medium mb-0">It's easy to sell digital products online such as docs, videos, music, pictures and more.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="media flex-column align-items-center text-center pb-4">
                        <div><i class="fad fa-search fa-5x text-primary"></i></div>
                        <div class="media-body pt-3">
                            <h3 class="h4">SEO Support</h3>
                            <p class="text-medium mb-0">Automatic SEO support to optimize your store to be discoverable by search engines.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="media flex-column align-items-center text-center pb-4">
                        <div><i class="fad fa-bells fa-5x text-primary"></i></div>
                        <div class="media-body pt-3">
                            <h3 class="h4">Built-in Notifications</h3>
                            <p class="text-medium mb-0">Immediately be informed when a customer places an order, updates about the order status and more.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="media flex-column align-items-center text-center pb-4">
                        <div><i class="fad fa-fill-drip fa-5x text-primary"></i></div>
                        <div class="media-body pt-3">
                            <h3 class="h4">Look & Feel</h3>
                            <p class="text-medium mb-0">Customize your store and enhance general appearance and operation of your store interface.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="media flex-column align-items-center text-center pb-4">
                        <div><i class="fad fa-star fa-5x text-primary"></i></div>
                        <div class="media-body pt-3">
                            <h3 class="h4">Built-in Reviews</h3>
                            <p class="text-medium mb-0">Get the real inside story from your customers and leverage them in your marketing efforts.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="media flex-column align-items-center text-center pb-4">
                        <div><i class="fad fa-sign fa-5x text-primary"></i></div>
                        <div class="media-body pt-3">
                            <h3 class="h4">Advert Banners</h3>
                            <p class="text-medium mb-0">Advertise images your store pages to showcase a product or brand with their related links.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="media flex-column align-items-center text-center pb-4">
                        <div><i class="fad fa-analytics fa-5x text-primary"></i></div>
                        <div class="media-body pt-3">
                            <h3 class="h4">Track Activities</h3>
                            <p class="text-medium mb-0">Track the behaviors of customers as they navigate your store.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="media flex-column align-items-center text-center pb-4">
                        <div><i class="fad fa-infinity fa-5x text-primary"></i></div>
                        <div class="media-body pt-3">
                            <h3 class="h4">Unlimited Entities</h3>
                            <p class="text-medium mb-0">Add unlimited products, categories, banners and more with an easy to use, fully integrated shopping cart for your store.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>