@model UserListModel
@{
    Html.AddTitle("Stores");
    var contentId = Guid.NewGuid();

    Layout = "_BlankLayout";
}

<div class="container">
    <div class="pt-5">
        <div class="pt-5 text-center">
            <h2>Find a Store by store name, product, category & location</h2>
        </div>
    </div>
    <div class="card card-condenced" style="margin-top: 4rem; margin-bottom: 4rem;">
        <div class="card-header p-0">
            <div class="d-flex flex-wrap align-items-center pt-3 pl-3">
                <div class="mr-auto">
                    
                </div>
                <div class="pb-3 pr-3" visible="@(Model.HasRequestValues())">
                    <button class="btn btn-default"
                            type="button"
                            data-submit="click"
                            data-action="@Url.Action("Stores", "Company", new { area = string.Empty })"
                            data-method="get">
                        <span>Clear Filters</span>
                    </button>
                </div>
                <div class="pb-3 pr-3">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            <span>Filter</span>
                        </button>
                        <div class="dropdown-menu dropdown-static dropdown-menu-right">
                            <div class="dropdown-item-text">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="mr-3">Category</div>
                                    <div class="input-group w-auto">
                                        <select style="opacity: 0;"
                                                data-preserve="scrollbar"
                                                data-toggle="select2"
                                                data-submit="change"
                                                data-action="@(Url.Action("Stores", "Company", new { area = string.Empty }))"
                                                data-method="get"
                                                data-name="storeCategory"
                                                data-object="@(Model.GetRequestValues().ToJsonString())"
                                                asp-items="@(Model.StoreCategoryOptions)"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-item-text">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="mr-3">Region</div>
                                    <div class="input-group w-auto">
                                        <select style="opacity: 0;"
                                                class="double-selector"
                                                data-default-text="All"
                                                data-target="#@(contentId)-place-select" asp-for="Filter.StoreRegion" data-entities="regions" data-value="@(Html.ValueFor(x => x.Filter.StoreRegion))" data-minimum-results-for-search="-1"
                                                data-preserve="scrollbar"
                                                data-toggle="select2"
                                                data-submit="change"
                                                data-action="@(Url.Action("Stores", "Company", new { area = string.Empty }))"
                                                data-method="get"
                                                data-name="storeRegion"
                                                data-object="@(Model.GetRequestValues().ToJsonString())"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-item-text">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="mr-3">Place</div>
                                    <div class="input-group w-auto">
                                        <select style="opacity: 0;"
                                                data-default-text="All"
                                                id="@(contentId)-place-select" asp-for="Filter.StorePlace" data-value="@(Html.ValueFor(x => x.Filter.StorePlace))" data-minimum-results-for-search="-1"
                                                data-preserve="scrollbar"
                                                data-toggle="select2"
                                                data-submit="change"
                                                data-action="@(Url.Action("Stores", "Company", new { area = string.Empty }))"
                                                data-method="get"
                                                data-name="storePlace"
                                                data-object="@(Model.GetRequestValues().ToJsonString())"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pb-3 pr-3 w-100 w-md-auto">
                    <form asp-action="Stores" asp-controller="Company" asp-area="" method="get">
                        <div class="input-group flex-nowrap">
                            <input id="store-search-input" name="search" value="@(Context.Request.Query["search"])" type="text" autocomplete="off" class="form-control ignore-focus" />
                            <span class="input-group-append">
                                <button class="icon-btn btn btn-default" type="submit" data-toggle="tooltip" title="Search">
                                    <i class="fal fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row no-gutters">
                @if (Model.Items.Any())
                {
                    @foreach (var userModel in Model.Items)
                    {
                        <div class="col-6 col-md-4 col-lg-3 mb-4">
                            <div class="img-thumbnail img-thumbnail-shadow p-1 h-100 position-relative">
                                <div class="img-thumbnail img-thumbnail-zoom-in">
                                    <div style="--aspect-ratio: 1">
                                        <div class="d-flex justify-content-center align-items-center w-100 h-100 text-decoration-none">
                                            <div visible="@(userModel.User.StoreLogo != null)" class="w-100 h-100"><img class="d-block img-fluid rounded" alt="@(userModel.User.StoreName)" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-toggle="lozad" data-src="@(Url.ProcessImage(FileClient.GetSourceUrl(userModel.User.StoreLogo.DirectoryName, userModel.User.StoreLogo.FileName)))" /></div>
                                            <i visible="@(userModel.User.StoreLogo == null)" class="fad fa-store fa-3x text-light"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body p-2">
                                    <div class="mb-2"><a class="text-body text-truncate-2 h5 mb-0 stretched-link" asp-action="Index" asp-controller="Store" asp-area="" asp-route-storeSlug="@(userModel.User.StoreSlug)">@(userModel.User.StoreName)</a></div>
                                    <div class="mb-1" visible="@(!string.IsNullOrWhiteSpace(userModel.User.StoreDescription))">
                                        <span class="text-muted text-small text-truncate-1">
                                            @(userModel.User.StoreDescription.Truncate(255))
                                        </span>
                                    </div>
                                    <div class="mb-2" visible="@(!string.IsNullOrWhiteSpace(userModel.User.StoreAddress))">
                                        <div class="d-inline-flex">
                                            <i class="fad fa-map-marker-alt"></i>
                                            <span class="text-small text-truncate-1 ml-1">
                                                @(userModel.User.StoreAddress)
                                            </span>
                                        </div>
                                    </div>
                                    <div class="d-inline-flex flex-wrap align-items-center text-small">
                                        <div data-toggle="rateyo" data-rating="@(userModel.ReviewEvaluation.AverageRating)" data-readonly="true"></div>
                                        <div class="ml-1 text-muted">(@(userModel.ReviewEvaluation.TotalCount.ToMetric()))</div>
                                    </div>
                                    @*<div>
                                            <button type="button" class="btn btn-outline-primary btn-block"
                                                    data-preserve="scrollbar"
                                                    data-submit="click"
                                                    data-action="@(Url.Action("ProcessCart", "Store", new { area = string.Empty, storeSlug = seller.StoreSlug, productId = productModel.Id, cartType = CartType.Cart, quantity = 1, returnUrl = Context.Request.RelativeUrl() }))"
                                                    data-method="post">
                                                <i class="fal fa-cart-plus fa-1-3x"></i>&nbsp; <span>Add to cart</span>
                                            </button>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-12">
                        <div class="d-flex align-items-center justify-content-center" style="min-height: 350px;">
                            <div class="text-center p-2">
                                <div class="d-inline-block mb-3"><i class="fad fa-store fa-4x theme-text-dark"></i></div>
                                <h4 class="h5">No stores</h4>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="card-footer pt-3 pb-0" visible="@(Model.TotalItems > 0)">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
                <div class="pb-3 pr-3 d-none d-md-block">Showing @(Model.PageFrom)-@(Model.PageTo) out of @("stores".ToQuantity(Model.TotalItems))</div>

                <div class="pb-3">
                    <ul style="margin-bottom: 0px"
                        data-preserve="scrollbar"
                        data-toggle="paginator"
                        data-page="@Model.Page"
                        data-total-pages="@Model.TotalPages"
                        data-submit="pageClick"
                        data-action="@Url.Action("Stores", "Company", new { area = string.Empty })"
                        data-method="get"
                        data-name="page"
                        data-object="@(Model.GetRequestValues().ToJsonString())">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>